WeeklyLastFM/.n8n/workflow.json
{
  "name": "Weekly Last.fm Report",
  "nodes": [
    {
      "parameters": {
        "url": "https://ws.audioscrobbler.com/2.0/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "method",
              "value": "user.getRecentTracks"
            },
            {
              "name": "user",
              "value": " Estware"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "from",
              "value": "={{ Math.floor(new Date($json.timestamp).getTime()/1000) - (7*24*60*60)}}"
            },
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        0
      ],
      "id": "1c8126eb-4dea-4383-9d0b-cc7d18ee3437",
      "name": "getRecentTracks 7 days",
      "credentials": {
        "httpQueryAuth": {
          "id": "VyGfk2kbojbFBwmf",
          "name": "last.fm"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1423405401269080247",
          "mode": "list",
          "cachedResultName": "n8n.nasvincent",
          "cachedResultUrl": "https://discord.com/channels/1423405401269080247"
        },
        "channelId": {
          "__rl": true,
          "value": "1424079542959476876",
          "mode": "list",
          "cachedResultName": "weekly-lastfm-report",
          "cachedResultUrl": "https://discord.com/channels/1423405401269080247/1424079542959476876"
        },
        "content": "=",
        "options": {},
        "embeds": {
          "values": [
            {
              "inputMethod": "json",
              "json": "={{ $json.summary_embed.toJsonString() }}"
            },
            {
              "inputMethod": "json",
              "json": "={{ $json.artist_embed.toJsonString() }}"
            },
            {
              "inputMethod": "json",
              "json": "={{ $json.album_embed.toJsonString() }}"
            },
            {
              "inputMethod": "json",
              "json": "={{ $json.track_embed.toJsonString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "c049702f-1458-4c10-8b46-4d4760acff63",
      "name": "Send a message",
      "webhookId": "38019bd7-f6a1-41a4-a3a9-e469f05b03d7",
      "credentials": {
        "discordBotApi": {
          "id": "Ne07PmPTyVbZwaec",
          "name": "n8n.nasvincent"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        0
      ],
      "id": "689527ac-5db7-4368-a5f4-9d6403f43f50",
      "name": "Weekly"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import json\nfrom collections import Counter\nfrom datetime import datetime, timedelta\nfrom typing import Any, Dict, List\n\n\ndef extract_image_url(images: Any) -> str | None:\n    \"\"\"Extract the best available image URL from a list of images.\"\"\"\n    if not images:\n        return None\n\n    by_size = {img[\"size\"]: img[\"#text\"] for img in images}\n\n    for size in [\"extralarge\", \"large\", \"medium\", \"small\"]:\n        if url := by_size.get(size):\n            return url\n    return None\n\n\ndef find_thumbnail(\n    rows: List[Dict], artist: str = None, album: str = None, track: str = None\n) -> str | None:\n    \"\"\"Find a thumbnail URL matching the given criteria.\"\"\"\n    for r in reversed(rows):\n        if artist and r[\"artist\"] != artist:\n            continue\n        if album and r.get(\"album\") != album:\n            continue\n        if track and r[\"track\"] != track:\n            continue\n        if r.get(\"image\"):\n            return r[\"image\"]\n    return None\n\n\ndef to_discord_message(data: dict):\n    \"\"\"Creates a Discord message embed from Last.fm scrobble data.\"\"\"\n    # Parse tracks\n    rows = []\n    for tr in data[\"recenttracks\"][\"track\"]:\n        attr = tr.get(\"@attr\")\n        if attr and attr.get(\"nowplaying\"):\n            continue\n\n        date_uts = tr[\"date\"][\"uts\"]\n        dt = datetime.fromtimestamp(int(date_uts)) if date_uts else None\n        artist = tr[\"artist\"][\"#text\"]\n        track = tr[\"name\"]\n        album = tr[\"album\"][\"#text\"]\n        image = extract_image_url(tr[\"image\"])\n\n        if artist and track:\n            rows.append(\n                {\n                    \"artist\": artist,\n                    \"track\": track,\n                    \"album\": album,\n                    \"image\": image,\n                    \"dt\": dt,\n                }\n            )\n\n    # Calculate statistics\n    total_scrobbles = len(rows)\n    unique_tracks = len({(r[\"artist\"], r[\"track\"]) for r in rows})\n    unique_artists = len({r[\"artist\"] for r in rows})\n    unique_albums = len({r[\"album\"] for r in rows})\n    track_counter = Counter((r[\"artist\"], r[\"track\"]) for r in rows).most_common(5)\n    artist_counter = Counter(r[\"artist\"] for r in rows).most_common(5)\n    album_counter = Counter(\n        (r[\"artist\"], r[\"album\"]) for r in rows if r[\"album\"]\n    ).most_common(5)\n\n    # Build fields\n    summary = (\n        f\"**{total_scrobbles}** scrobbles · **{unique_tracks}** Tracks · **{unique_artists}** Artists · **{unique_albums}** Albums\"\n        if total_scrobbles\n        else \"No scrobbles this week.\"\n    )\n\n    today = datetime.now(ZoneInfo(\"Europe/Paris\")).date()\n    start_date = today - timedelta(days=7)\n    date_range = f\"{start_date.isoformat()} → {today.isoformat()}\"\n\n    # Create embeds\n    summary_embed = {\n        \"title\": \"Weekly Last.fm Report\",\n        \"description\": summary,\n        \"color\": 3447003,\n        \"fields\": [],\n        \"footer\": {\"text\": f\"{date_range}\"},\n    }\n\n    if total_scrobbles > 0:\n        scrobbles_by_day = Counter(r[\"dt\"].date() for r in rows if r[\"dt\"])\n        if scrobbles_by_day:\n            days = (max(scrobbles_by_day) - min(scrobbles_by_day)).days + 1\n            avg = total_scrobbles / days if days > 0 else total_scrobbles\n            most_active = scrobbles_by_day.most_common(1)[0]\n            day_str = most_active[0].strftime(\"%A\")\n            summary_embed[\"fields\"].append(\n                {\n                    \"name\": \"Activity\",\n                    \"value\": f\"Avg **{avg:.1f}** scrobbles/day · Most active day: **{day_str}** ({most_active[1]} scrobbles)\",\n                    \"inline\": False,\n                }\n            )\n\n    def create_artist_embed(items: list, thumb_artist: str = None) -> dict | None:\n        \"\"\"Create embed for top artists with individual fields.\"\"\"\n        if not items:\n            return None\n\n        embed = {\n            \"title\": \"Top Artists\",\n            \"color\": 3447003,\n            \"fields\": [\n                {\"name\": artist, \"value\": f\"{count} scrobbles\", \"inline\": False}\n                for artist, count in items\n            ],\n        }\n\n        if thumb := find_thumbnail(rows, artist=thumb_artist):\n            embed[\"image\"] = thumb\n\n        return embed\n\n    def create_track_album_embed(\n        title: str,\n        items: list,\n        thumb_artist: str = None,\n        thumb_album: str = None,\n        thumb_track: str = None,\n    ) -> dict | None:\n        \"\"\"Create embed for tracks/albums with individual fields.\"\"\"\n        if not items:\n            return None\n\n        embed = {\"title\": title, \"color\": 3447003, \"fields\": []}\n\n        for (artist, name), count in items:\n            embed[\"fields\"].append(\n                {\n                    \"name\": name,\n                    \"value\": f\"{artist}\\n{count} scrobbles\",\n                    \"inline\": False,\n                }\n            )\n\n        if thumb := find_thumbnail(\n            rows, artist=thumb_artist, album=thumb_album, track=thumb_track\n        ):\n            embed[\"image\"] = thumb\n\n        return embed\n\n    output = {\n        \"summary_embed\": summary_embed,\n        \"track_embed\": create_track_album_embed(\n            \"Top Tracks\",\n            track_counter,\n            thumb_artist=track_counter[0][0][0] if track_counter else None,\n            thumb_track=track_counter[0][0][1] if track_counter else None,\n        ),\n        \"album_embed\": create_track_album_embed(\n            \"Top Albums\",\n            album_counter,\n            thumb_artist=album_counter[0][0][0] if album_counter else None,\n            thumb_album=album_counter[0][0][1] if album_counter else None,\n        ),\n        \"artist_embed\": create_artist_embed(\n            artist_counter,\n            thumb_artist=artist_counter[0][0] if artist_counter else None,\n        ),\n    }\n\n    return [{\"json\": output}]\n\n\nif __name__ == \"__main__\":\n    from zoneinfo import ZoneInfo\n\n    import click\n\n    @click.command()\n    @click.option(\n        \"--json-path\",\n        type=click.Path(exists=True),\n        default=\"WeeklyLastFM/inputs/to_discord_message.json\",\n        help=\"Path to the JSON file containing the input data for the n8n node.\",\n    )\n    def main(json_path):\n        \"\"\"CLI for local testing of the create_embed script.\"\"\"\n        try:\n            with open(json_path, \"r\", encoding=\"utf-8\") as f:\n                data = json.load(f)\n        except json.JSONDecodeError:\n            print(f\"Error: Could not decode JSON from the file '{json_path}'.\")\n            return\n\n        result = to_discord_message(data)\n        print(json.dumps(result, indent=2))\n\n    main()  # pylint: disable=no-value-for-parameter\nelse:\n    # In n8n, the script is not run as the main program, and _items is provided.\n    from zoneinfo import ZoneInfo\n    data = _items[0][\"json\"]  # pylint: disable=undefined-variable # type: ignore # noqa\n    return to_discord_message(data)\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "bbc3e176-28ae-4057-b346-3c6ec83182fd",
      "name": "to_discord_message"
    }
  ],
  "pinData": {},
  "connections": {
    "getRecentTracks 7 days": {
      "main": [
        [
          {
            "node": "to_discord_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly": {
      "main": [
        [
          {
            "node": "getRecentTracks 7 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "to_discord_message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oaGEWAbViV34S8Ry"
  },
  "versionId": "93fead68-ed62-4e0c-91b7-a209be3edee9",
  "meta": {
    "instanceId": "3cf4582185e2d6446b74ac642cd4f8b632c7e309ccad401283bece71e46aa8d9"
  },
  "id": "v6RK2N0dlXwpOnX9",
  "tags": []
}